{% extends "TopOrFlopBundle::layout.html.twig" %}

{% block title 'Top or Flop - tops' %}

{% block content %}
    <h2>Classement des Tops</h2>
    {% for index, top in tops %}
        <a href="{{ path('show_media', {'id': top.id}) }}">{{ top.title }}</a>
        - {{ top | format_score }}/10 <i>({{ top.votes | length }} votes)</i><br />
    {% endfor %}
{% endblock %}